.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 3;
  background-color: #f2f2f2;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}