.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  width: 388px;
  bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}